<nav class="navbar-custom">
        
    <div class="container">
    
            <div class="row align-items-center">
                    <div id="lmca" class="col-md offset-md">LMCA</div>
                    <div class="col-md offset-md-8"><a routerLink="/" class="heading">HOME</a></div>
                    <div class="col-md alignment"><a class="heading">SIGN-UP</a></div>
                  </div>
                  
              </div>
              </nav>    
    
                  
    <div class="container">
        <div class="row img-responsive">
            <img src="../../assets/img/Web_image_163483244.jpg" />
        </div>
        <div class="row justify-content-center">
            <h1 id="title">The London Market Claims App</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <p id="slogan">This tool is simple and clear to understand, and accelerates the claims lifecycle.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <p id="description">It captures FNOL details by the claimant, triages claims based on a number of data values and simultaneously
                notifies brokers and carriers of claim status updates, resulting in quicker carrier agreement and improved
                customer satisfaction. If you would prefer to talk to one of our specialist Claims Advisors please call 0345 676767.
            </p>
        </div>
        <div id="claimTypes" class="row">
            <div class="col-sm">
                <div class="row justify-content-center icon">
                    <img src="../assets/img/marine_icon.png" />
                </div>
                <div class="row justify-content-center">
                    <button class="btn-text btn btn-primary btn-round btn-success btn-lrg" disabled="disabled">Marine Claim</button>
                </div>
                <div class="row justify-content-center spacing">
                    <a routerLink="/carrier-dashboard"><button class="btn-text btn btn-primary btn-round btn-success btn-lrg">Carrier Dashboard</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="row justify-content-center icon">
                    <img src="../assets/img/property_icon.png" />
                </div>
                 <div class="row justify-content-center">
                   <a routerLink="/claims-form"><button class="btn-text btn btn-primary btn-round btn-success btn-lrg">Property Claim</button></a>
                </div>
                <div class="row justify-content-center spacing">
                    <a routerLink="/broker-dashboard"><button class="btn-text btn btn-primary btn-round btn-success btn-lrg">Broker Dashboard</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="row justify-content-center icon">
                    <img src="../assets/img/aviation_icon.png" />
                </div>
                <div class="row justify-content-center">
                    <button class="btn-text btn btn-primary btn-round btn-success btn-lrg" disabled="disabled">Aviation Claim</button>
                </div>
                <div class="row justify-content-center spacing">
                        <a routerLink="/claimant-dashboard"><button class="btn-text btn btn-primary btn-round btn-success btn-lrg">Claimant Dashboard</button></a>
                    </div>
            </div>
        </div>
    </div>
    