
#title {
    font-size: 57px;
    font-weight: 300;
    color: #4470C5;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

#slogan {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    line-height: 30px;
    margin: 0px;
}

p {
    font-size: 19px;
    color: #333333;
    font-weight: 300;
    text-align: center;
}

#description {
    margin: 0px;
    padding-top: 36px;
    padding-bottom: 65px;
}

#claimTypes {
    margin-bottom: 100px;
}

.btn-text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #6F7700;
}

.icon {
    padding-bottom: 20px;
}

.container {
    width: 1200px !important;
}
.navbar-custom {
    background-color: #333333;
    height: 85px;
    width:100%;
}

#lmca {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    padding: 30px 0px;
}

a.heading {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}

a.heading:active {
    color: #808080;
}

a.heading:link {
    color: #CCCCCC;
}

.alignment {
    text-align: right;
}
.spacing {
    margin-top:50px;
}

@media only screen and (max-width: 767px) {
    .alignment {
        text-align: center;
    }
    .navbar-custom {
        height: 155px;
    }
    #lmca {
        text-align: center;
    }
}